<div class="container p-3">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="http://blog.bhaskar.one" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="http://bhaskar.one/portfolio" class="nav-link px-2 text-muted">portfolio</a></li>
            <li><a href="http://bhaskar.one/about" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>
        <% if (typeof user !=='undefined' ) { %>
                <div class="text-end relative d-flex align-items-center gap-3 p-0" id="userImageBox">
                    <a href="/user/profile/<%= user.username %>" class="d-block text-decoration-none"
                        aria-expanded="false">
                        <img src="/teacher.png" alt="mdo" width="32" height="32">
                    </a>
                    <a href="/auth/logout"> <button type="button"
                        class="btn text-dark border-2 border-dark py-2">Sign out</button>
                    </a>
                </div>
            <% } else { %>
                <div class="text-end">
                    <a href="/auth/login">
                        <button type="button" class="btn border-2 border-dark me-2 py-2">Login</button></a>
                    <a href="/auth/register"> 
                        <button type="button" class="btn btn-info border-2 border-info py-2">Sign-up</button></a>
                </div>
                <% } %>
    </div>
</div>