<!-- <section class="all-posts">
    <% if (posts.length> 0) { %>
        <div>
            <% posts.forEach(post=> { %>
                <h2 class="post-tite">
                    <%= post.title %>
                </h2>
            <div class="cover">
                <img src="/uploads/<%=  %> " alt="" srcset="">
            </div>
                    <% }) %>
                        <% } %>
        </div>

</section> -->
<main>


    <section class="section-posts">
        <div class="single-post">
            <div class="cover-post"></div>
            <div class="content-post">
                <span class="span-title">
                    <h2 class="h2-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
                </span>
                <span>
                    <ul class="info-post">
                        <li class="info-post-item">Bhaskar Sharma</li>
                        <li class="info-post-item"> Jan 21, 2021 5:24 PM</li>
                    </ul>
                </span>
                <span class="span-paragraph">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                    </p>
                </span>
            </div>
        </div>
        <div class="single-post">
            <div class="cover-post"></div>
            <div class="content-post">
                <span class="span-title">
                    <h2 class="h2-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
                </span>
                <span>
                    <ul class="info-post">
                        <li class="info-post-item">Bhaskar Sharma</li>
                        <li class="info-post-item"> Jan 21, 2021 5:24 PM</li>
                    </ul>
                </span>
                <span class="span-paragraph">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                    </p>
                </span>
            </div>
        </div>
        <div class="single-post">
            <div class="cover-post"></div>
            <div class="content-post">
                <span class="span-title">
                    <h2 class="h2-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
                </span>
                <span>
                    <ul class="info-post">
                        <li class="info-post-item">Bhaskar Sharma</li>
                        <li class="info-post-item"> Jan 21, 2021 5:24 PM</li>
                    </ul>
                </span>
                <span class="span-paragraph">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                    </p>
                </span>
            </div>
        </div>
        <div class="single-post">
            <div class="cover-post"></div>
            <div class="content-post">
                <span class="span-title">
                    <h2 class="h2-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
                </span>
                <span>
                    <ul class="info-post">
                        <li class="info-post-item">Bhaskar Sharma</li>
                        <li class="info-post-item"> Jan 21, 2021 5:24 PM</li>
                    </ul>
                </span>
                <span class="span-paragraph">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                    </p>
                </span>
            </div>
        </div>
        <div class="single-post">
            <div class="cover-post"></div>
            <div class="content-post">
                <span class="span-title">
                    <h2 class="h2-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h2>
                </span>
                <span>
                    <ul class="info-post">
                        <li class="info-post-item">Bhaskar Sharma</li>
                        <li class="info-post-item"> Jan 21, 2021 5:24 PM</li>
                    </ul>
                </span>
                <span class="span-paragraph">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque optio reiciendis
                        amet
                        facere cumque explicabo quia quaerat. Non doloribus delectus fugit amet porro dolorem nobis nemo
                        modi esse consequuntur!
                    </p>
                </span>
            </div>
        </div>
    </section>
</main>