<section class="site-section">
    <div class="wrap p-5">
        <div class="row">
            <div class="container container-fluid p-5 w-75 bg-light rounded">
                <h3 class="h4 text-center text-dark text-monospace text-uppercase py-2"> login</h3>
                <div class="form-group">
                    <%- include('./partials/message.ejs') %>
                        <form action="/blog/post/new" class="form text-capitalize" method="post">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username:
                                </label>
                                <input type="text" class="form-control rounded" name="username" id="username"
                                    minlength="20">
                            </div>
                            <div class="mb-3 ">
                                <label for="username" class="form-label">Password:
                                </label>
                                <input type="text" class="form-control rounded" name="username" id="password"
                                    minlength="6">
                            </div>
                            <div class="mb-3 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary btn-sm rounded my-2">Submit</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>