<section class="site-section py-5">
    <div class="wrap py-2">
        <div class="row">
            <div class="container container-fluid p-5 bg-light rounded my-5">
                <h3 class="h4 text-center text-dark text-monospace text-uppercase py-2"> Write a new post</h3>
                <div class="form-group">
                    <form action="/blog/post/new" class="form text-capitalize" method="post">
                        <div class="mb-2">
                            <label for="posttitle" class="form-label">Post Title:
                            </label>
                            <input type="text" class="form-control rounded" name="title" id="posttitle"
                                aria-describedby="emailHelp" minlength="20">
                        </div>
                        <div class="mb-2">
                            <label for="author" class="form-label">author:
                            </label>
                            <input type="text" class="form-control rounded" name="author" id="author" value="bhaskar"
                                readonly>
                        </div>
                        <div class="mb-2">
                            <label for="formFile" class="form-label">
                                Post Cover:
                            </label>
                            <input class="form-control rounded" name="cover" type="file" id="formFile"
                                enctype="multipart/form-data">
                        </div>
                        <div class="mb-2">
                            <label for="category" class="form-label">Category:
                            </label>
                            <select name="category" class="form-control rounded" id="category" required>
                                <option selected> Select </option>
                                <option value="technology">Technology</option>
                                <option value="sports">Sports</option>
                                <option value="computers">Computers</option>
                                <option value="environment">Environment</option>
                                <option value="research">Reasearch</option>
                                <option value="world">World</option>
                                <option value="history">Travel</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="exampleFormControlTextarea1" class="form-labe"> Post Content:
                            </label>
                            <textarea class="form-control rounded" name="textcontent" id="exampleFormControlTextarea1"
                                rows="2"></textarea>
                        </div>
                        <div class="mb-2 d-flex justify-content-center">
                            <button type="submit"
                                class="btn btn-primary btn-sm rounded mt-3 px-5 text-uppercase">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>