<div class="notfound">
    <div class="notfound-wrap">
        <div class="notfound-404">
            <h2 class="status"><span>4</span><span>0</span><span>4</span></h1>
                <h3 class="404-heading">Oops! Page not found</h3>
        </div>
        <h2 class="info-404">we are sorry, but the page you requested was not found</h2>
        <div class="homepage"><a href="/">Back To Homepage</a></div>
    </div>
</div>