<main class="my-5 post-main">

    <div class="">
        <div>
            <h1>The dreams of yesterday are the hopes of today and the reality of tomorrow.</h1>

            <span class="meta">Posted by
                <a href="#">Start Bootstrap</a>
                on January 28, 2020 · <span class="reading-time" title="Estimated read time">

                    4 mins read </span>

            </span>
        </div>
        <div class="card-body mx-0 px-0">
            <div class=" d-flex gap-1">
                <span class="badge bg-info">Cras justo odio</span>
                <span class="badge bg-info">Cras justo odio</span>
                <span class="badge bg-info">Cras justo odio</span>
            </div>
        </div>
        <img src="/moon-apollo.jpg" class="img-fluid mx-auto d-block post-cover" alt="Moon Apollo">
        <div class="card-body container-fluid">

        </div>
    </div>
</main>