<section class="site-section">
    <div class="wrap p-5">
        <div class="row">
            <div class="container container-fluid p-5 w-75 bg-light rounded">
                <h3 class="h4 text-center text-dark text-monospace text-uppercase py-2"> register</h3>
                <div class="form-group">
                    <%- include('./partials/message.ejs') %>
                        <form action="/blog/post/new" class="form flex-column text-capitalize" method="post">
                            <div class="mb-2">
                                <label for="fname" class="form-label">Full Name:
                                </label>
                                <input type="text" class="form-control rounded" name="fullname" id="fullname"
                                    aria-describedby="fullname" minlength="5" required>
                            </div>
                            <div class="mb-2">
                                <label for="email" class="form-label">Email:
                                </label>
                                <input type="email" class="form-control rounded" name="email" id="email"
                                    aria-describedby="emailHelp" minlength="5">
                            </div>
                            <div class="mb-2">
                                <label for="username" class="form-label">Username:
                                </label>
                                <input type="text" class="form-control rounded" name="username" id="username"
                                    aria-describedby="emailHelp" minlength="5">
                            </div>
                            <div class="mb-2">
                                <label for="password" class="form-label">Password:
                                </label>
                                <input type="text" class="form-control rounded" name="username" id="password"
                                    aria-describedby="emailHelp" minlength="20">
                            </div>
                            <div class="mb-2 d-flex justify-content-center">
                                <button type="submit"
                                    class="btn btn-primary btn-sm rounded mt-5 px-5 text-uppercase">Submit</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>