<section class="register-wrap">
  <form action="/user/register" method="post" class="register-form">
    <input type="text" name="name" id="name" placeholder="Full Name" />
    <input type="text" name="email" id="email" placeholder="Email" />
    <input type="text" name="password" id="password" placeholder="Password" />
    <button type="submit">Register</button>
  </form>
</section>

