.notfound {
    height: 60vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.notfound-404 {
    text-transform: uppercase;
}

.status {
    font-size: 5rem;
    line-height: 4.5rem;
}

.notfound-wrap {
    color: #222;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.homepage {
    position: relative;
    margin: auto;
    width: fit-content;
    background: #0444c4;
    border-radius: 4px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}
.homepage > a{
    color: white;
}