.search {
    width: 2.5rem;
}

.icon {
    font-size: 24px;
    color: var(--bs-white);
}

.post-main {
    padding: 0px 15%;
}
body{
    min-height: 100vh;
    max-width: 100%;
}
.myalert{
    display: flex;
    justify-content: center;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .form-container {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .form-container {
        width: 50%;
    }
}

@media (max-width: 992px) and (min-width: 762px) {
    .post-main {
        padding: 0px 10%;
    }
}
@media (max-width: 762px) {
    .post-main {
        padding: 0px 20px;
    }
}

.searchBox {
    margin-left: -1rem;
}
.form-bg{
    background: url('../form-bg.jpg') no-repeat center;
    background-size: cover;
}